
.icon-adjust:before { content: '\e800'; } /* '' */
.icon-quote-circled:before { content: '\e801'; } /* '' */
.icon-pencil-circled:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e803'; } /* '' */
.icon-cancel-circled2:before { content: '\e804'; } /* '' */
.icon-plus-circled:before { content: '\e805'; } /* '' */
.icon-lightbulb-alt:before { content: '\e806'; } /* '' */