* {
    outline: 0;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', serif;
}

div, h2, h3, h4, p, span, a, ul, li {
    font-family: 'Roboto Slab', serif;
}

#wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#inner {
    display: table-cell;
    width: 100%;
    height: 100%;

    text-align: left;
    vertical-align: middle;
}

#sources {
    display: block;
    margin: 0 auto;
    width: 100%;

    font-size: 1.2rem;
    font-family: monospace;

    max-width: 600px;
}

.textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    font-size: 1.2rem;
    font-family: monospace;

    max-width: 600px;
    max-height: 600px;

    border: 0;
}

.highlight {
    background: yellow;
}
.fixed {
    border-bottom: 1px dashed #9f9f9f;
    cursor: pointer;
}
.fixed.active {

}

#options {
    position: fixed;
    top: 18px;
    left: 10px;
}

button {
    background: none;
    border: none;
    color: #DADFE1;
}

button:hover {
    color: #181818;
}

button.live {
    color: #F22613;
}

button.dead {
    color: #ECF0F1;
}

#bootstrap,
#chain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}


#bootstrap.show,
#chain.show {
    display: table;
}

#bootstrap .inner,
#chain .inner {
    display: table-cell;
    width: 100%;
    height: 100%;

    text-align: left;
    vertical-align: middle;
}

#bootstrap #modal,
#chain #modal {
    background-color: white;
    max-width: 560px;
    margin: 0 auto;
    padding: 20px;
}

#modal #sources-preview {
    margin-bottom: 20px;
}

#sources .highlight {
    cursor: pointer;
}
#sources .highlight.fixed {
    cursor: pointer;
    border: none;
}

#sources .highlight,
#sources-preview .highlight {
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
}

#modal button {

}
